 .menu__items {
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 8px;
        list-style: none;
    }

 .menu__item {
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px; 
        
        &--selected {
            background-color: #89bdd3;
            padding: 5px 10px;
            margin: 5px; 
        }
    }